---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import ProjectManager from "../components/ProjectManager.astro";
---

<Layout>
    <Navbar />
    <main class="mt-7 lg:mt-15">
        <div class="mb-5">
            <a href="/" class="text-blue-700 dark:text-blue-500 hover:underline"
                >← Back</a
            >
        </div>
        <ProjectManager category="ab" title="A/B Testing" />
    </main>
</Layout>
