---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
---

<Layout>
	<Navbar />
	<main class="mt-7 lg:mt-15">
		<h1
			class="text-4xl md:text-5xl lg:text-6xl font-bold text-black dark:text-white mb-7 lg:mb-10"
		>
			Harish<br />
			<span
				class="font-normal text-3xl md:text-4xl lg:text-5xl text-gray-700 dark:text-gray-300 font-eb-garamond italic"
				>Narrator | Performance Marketer</span
			>
		</h1>
		<div class="mb-7 lg:mb-10 font-light">
			<p
				class="text-base/relaxed md:text-lg/relaxed lg:text-xl/relaxed mb-3 lg:mb-5"
			>
				Content Tech Expert who helps brands turn ideas into stories
				that sell. I blend narrative strategy with cutting edge content
				technology to craft digital content that performs across
				platforms. From building content systems that communicate for
				you to training AI to write in your brand’s voice, I design
				intelligent solutions that scale. Whether you’re struggling with
				content production, looking to implement AI writing tools, or
				need seamless integration of marketing software
			</p>
			<p
				class="text-base/relaxed md:text-lg/relaxed lg:text-xl/relaxed mb-3 lg:mb-5"
			>
				I’ll help you create content that not only resonates but drives
				results
			</p>
			<p class="text-base/relaxed md:text-lg/relaxed lg:text-xl/relaxed">
				Let’s build the future of your content, together.
			</p>
		</div>

		<div
			class="text-base md:text-lg lg:text-xl flex flex-wrap gap-7 text-blue-700 dark:text-blue-500 mb-7 lg:mb-10 items-center"
		>
			<span
				class="text-black dark:text-white font-medium underline decoration-gray-300 dark:decoration-zinc-800 underline-offset-8"
				>Project</span
			>
			<a
				href="/design"
				class="group flex items-center bg-gray-50 dark:bg-zinc-900/50 px-3 py-1 rounded-md border border-gray-200 dark:border-zinc-800 transition hover:border-blue-400 dark:hover:border-blue-900"
			>
				<span
					class="text-gray-400 group-hover:text-blue-700 dark:group-hover:text-blue-500 transition-colors"
					>&lcub;</span
				>
				<span class="px-2 font-medium">Design</span>
				<span
					class="text-gray-400 group-hover:text-blue-700 dark:group-hover:text-blue-500 transition-colors"
					>&rcub;</span
				>
			</a>
			<a
				href="/ab"
				class="group flex items-center bg-gray-50 dark:bg-zinc-900/50 px-3 py-1 rounded-md border border-gray-200 dark:border-zinc-800 transition hover:border-blue-400 dark:hover:border-blue-900"
			>
				<span
					class="text-gray-400 group-hover:text-blue-700 dark:group-hover:text-blue-500 transition-colors"
					>&lcub;</span
				>
				<span class="px-2 font-medium">A/B</span>
				<span
					class="text-gray-400 group-hover:text-blue-700 dark:group-hover:text-blue-500 transition-colors"
					>&rcub;</span
				>
			</a>
			<a
				href="/video"
				class="group flex items-center bg-gray-50 dark:bg-zinc-900/50 px-3 py-1 rounded-md border border-gray-200 dark:border-zinc-800 transition hover:border-blue-400 dark:hover:border-blue-900"
			>
				<span
					class="text-gray-400 group-hover:text-blue-700 dark:group-hover:text-blue-500 transition-colors"
					>&lcub;</span
				>
				<span class="px-2 font-medium">Video</span>
				<span
					class="text-gray-400 group-hover:text-blue-700 dark:group-hover:text-blue-500 transition-colors"
					>&rcub;</span
				>
			</a>
		</div>

		<div
			class="text-base md:text-lg lg:text-xl flex gap-7 text-blue-700 dark:text-blue-500"
		>
			<a href="https://x.com/Thenarratome" target="_blank">@X</a>
			<a
				href="https://bsky.app/profile/thenarratorme.bsky.social"
				target="_blank">Bluesky</a
			>
			<a href="https://www.instagram.com/thenarrator.me/" target="_blank"
				>Instagram</a
			>
			<a
				href="https://www.linkedin.com/in/harish-b-309563247/"
				target="_blank">LinkedIn</a
			>
		</div>
	</main>
</Layout>
