---

import "../styles/global.css"

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Readex+Pro:wght@160..700&display=swap" rel="stylesheet">
	</head>
	<body class="font-readex-pro text-gray-700 dark:text-gray-300 transition bg-white dark:bg-zinc-950">
		<div class="w-full max-w-5xl mx-auto p-5 md:p-10 xl:p-0 xl:pt-10">
			<slot />
		</div>

		<script src="../scripts/main.js"></script>
	</body>
</html>